<div class="row">
   <div class="col-md-4">
      <div class="row">
      <h2 class="text-center text-center sub-group-form"> Prêmio </h2>
      <h4><%= @raffle.prize %></h4>
      <% if @raffle.images.attached?  %>
      <div id="raffleCarousel" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-indicators">
            <%  @raffle.images.each_with_index do |img, index| %>
               <button type="button" data-bs-target="#raffleCarousel" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active aria-current="true"' : '' %>"></button>
            <% end %>
         </div>

         <div id="raffleCarouselInner" class="carousel-inner">
            <%  @raffle.images.each_with_index do |img, index| %>
            <div class="carousel-item img-fluid <%= index == 0 ? 'active' : '' %>">
              <%= image_tag(img, class: 'd-block w-100') %>
            </div>
      <% end %>

      </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#raffleCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#raffleCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
   </div>
         <% end %>
   </div>
   </div>

   <div class="col-md-5">
      <div class="row">
         <h2 class="text-center text-center sub-group-form"> Campanha </h2>
         <h2><%= @raffle.description %></h2>
      </div>
      <div class="row">
         <h2 class="text-center sub-group-form"> Sobre o Prêmio </h2>
         <h2>Condição: <%= @raffle.condition.name %></h2>
         <h2>Entrega via: <%= @raffle.delivery_type.name %></h2>
      </div>
   </div>

   <div class="col-md-3">
      <div class="row">
      <h2 class="text-center sub-group-form"> Situação </h2>
      <div class="d-flex justify-content-center">
         <canvas class="raffleProgessChart" data-tickets-sold = "<%= @raffle.tickets_sold.to_s %>" data-tickets-open = "<%= (@raffle.tickets_number - @raffle.tickets_sold).to_s %>" style="width: 500px;"></canvas>
      </div>
      <div class="row">
         <h5 class="text-center"><%= @raffle.tickets_sold.to_s + '/' + @raffle.tickets_number.to_s %></h5>
      </div>
      <div class="row">
         <h5 class="text-center">R$ <%= number_with_precision(@raffle.unit_value, precision: 2) %></h5>
      </div>
         <div class="d-flex align-items-stretch flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
            <% if (pundit_user.instance_of? User) && (@raffle.tickets_number >= @raffle.tickets_sold) %>
               <%= link_to 'Comprar números', raffles_buy_path, :class => 'btn btn-submit-adm' %>
            <% end %>
         </div>
         <div class="p-2 bd-highlight">
            <%= link_to 'Voltar', :back, class: "btn btn-submit-adm" %>
         </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
         <h2 class="sub-group-form"> Descrição do Prêmio </h2>
         <h2><%= @raffle.prize_description%></h2>
     </div>
</div>


<div class="row">
   <div class="col-md-12">
      <h2 class="sub-group-form">Sobre a instituição </h2>
      <h2><%= @raffle.institution.about %></h2>
   </div>
</div>

</div>