<div class="row">
   <div class="col-md-9">
      <h3 class="text-center text-center sub-group-form"> Prêmio </h3>
      <div class="row">
         <div class="col-md-3">
         <% if @raffle.images.attached?  %>
            <%  @raffle.images.each_with_index do |img, index| %>
               <div class="row">
               <% if index == 0  %>
                  <%= image_tag(img, class: 'raffle-list-image img-center mt-1 tomato-border') %>
               <% else  %>
                  <%= image_tag(img, class: 'raffle-list-image img-center mt-1 default-border')%>
               <% end %>
               </div>
            <% end %>
         <% end %>
         </div>
         <div class="col-md-9">
            <div class="row">
               <div id="raffle_show_main_image">
                  <%= image_tag(@raffle.images.first) %>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="row">
         <h3 class="text-center sub-group-form"> Situação </h3>
         <p class="text-center"><b><%= @raffle.prize %></b></p>
         <div class="d-flex justify-content-center">
            <canvas class="raffleProgessChart" data-tickets-sold = "<%= @raffle.tickets_sold.to_s %>" data-tickets-open = "<%= (@raffle.tickets_number - @raffle.tickets_sold).to_s %>" style="width: 500px;"></canvas>
         </div>
         <div class="row">
            <h5 class="text-center"><%= @raffle.tickets_sold.to_s + '/' + @raffle.tickets_number.to_s %></h5>
         </div>
         <div class="row">
            <h5 class="text-center">R$ <%= number_with_precision(@raffle.unit_value, precision: 2) %></h5>
         </div>
         <p>Condição: <%= @raffle.condition.name %></p>
         <p>Entrega via: <%= @raffle.delivery_type.name %></p>
         <div class="d-flex align-items-stretch flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
               <% if (pundit_user.instance_of? User) && (@raffle.tickets_number >= @raffle.tickets_sold) %>
               <%= link_to 'Comprar números', raffles_buy_path, :class => 'btn btn-submit-adm' %>
               <% end %>
            </div>
            <div class="p-2 bd-highlight">
               <%= link_to 'Compartilhar', :back, class: "btn btn-submit-adm" %>
            </div>
            <div class="p-2 bd-highlight">
               <%= link_to 'Voltar', :back, class: "btn btn-submit-adm" %>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-4">
      <h3 class="text-center sub-group-form"> Descrição do Prêmio </h3>
      <p class="raffle-show-column"><%= @raffle.prize_description%></p>
   </div>
   <div class="col-md-4">
      <h3 class="text-center sub-group-form"> Campanha </h3>
      <p class="raffle-show-column"><%= @raffle.description %></p>
   </div>
   <div class="col-md-4">
      <h3 class="text-center sub-group-form">Sobre a instituição </h3>
      <p>Site: <%= @raffle.institution.site %></p>
      <p class="raffle-show-column"><%= @raffle.institution.about %></p>
   </div>
</div>
</div>