<!DOCTYPE html>
<html>
<head>
	<title>RifaAmigaApp</title>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag "logo.png" %>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div id="main" class="container-fluid">
		<%= render 'layouts/navigation/navigation' %>
		<%= render 'layouts/messages' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
